.btn {
    width: 205px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;

    &_dark-grey {
        background-color: $dark-grey;
    }

    &_light-brown {
        background-color: $light-brown
    }
}